<% content_for :page_title, "Modification de mon compte" %>

<section class="container py-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center mb-4">
      <h2><%= t(".title", resource: resource_name.to_s.humanize) %></h2>
    </div>
    <div class="col-lg-6 offset-lg-3">
      <div class="card border-0 mon-box-shadow">
        <div class="card-body px-5">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first_name, autofocus: true, required: true %>
            <%= f.input :last_name, required: true %>
            <%= f.input :phone_number, as: :tel, required: true %>
            <%= f.input :profile_picture, as: :file, required: true %>
            <%= image_tag current_user.profile_picture, size: "200", class: "rounded mb-4" if current_user.profile_picture.attached? %>
            <%= f.input :email, required: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
            <% end %>
            <%= f.input :password, autocomplete: "off", hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, t(".update"), class: "btn btn-primary btn-lg btn-block" %>
          </div>
          <% end %>
          <div class="text-center mt-4">
            <h3><%= t(".cancel_my_account") %></h3>
            <p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>
            <%= link_to t("devise.shared.links.back"), :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
