<%- if controller_name != 'sessions' %>
<span>Vous avez un compte ?</span>
<%= link_to t(".sign_in"), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<span>Vous n'avez pas un compte ?</span>
<%= link_to t(".sign_up"), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%= link_to t(".forgot_your_password"), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name) %><br />
<% end -%>

<div class="d-flex justify-content-center align-items-center my-3">
	<hr class="bg-primary m-0" style="border: 2px solid gray; width: 30%">
	<p class="m-0 px-3 font-weight-bold">Ou</p>
	<hr class="bg-primary m-0" style="border: 2px solid gray; width: 30%">
</div>


<%- if devise_mapping.omniauthable? %>
<%- resource_class.omniauth_providers.each do |provider| %>
<%#= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider) %><br />

<%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-lg btn-social btn-facebook" do %>
<span class="fa fa-facebook"></span>
<%= t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)) %>
<% end %>
<br />
<% end -%>
<% end -%>
