<section class="container-fluid py-5 cta_for_owner_or_agency_or_agent d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2>Vous êtes profesionnel de l'immobilier ?</h2>
                <h3>Vous souhaitez améliorer la visibilité de votre agence et de vos annonces ?</h3>
                <h4>Oubliez les medias, déposer vos annonces sur <span class="font-weight-bold h3">SICO</span> et toucher un maximum de locataires ou d'acheteurs potentiels.</h4>
                <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Éssayer maintenant</button></p>
            </div>
        </div>
    </div>
</section>
