<section class="container-fluid py-4 call_to_action_for_owner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2>Vous êtes propriétaire ou un agent immobilier et vous souhaitez trouver rapidement un locataire pour votre bien ?</h2>
                <p class="lead">N'attendez plus, publiez gratuitement votre annonce sur <span class="font-weight-bold">SICO</span> et touchez un maximum de locataires potentiels.</p>
                <p><%= link_to "Je publie mon annonce", new_property_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>

