<section class="container-fluid py-5 besoin_daide" id="call_to_action_for_agent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white ">
                <hgroup>
                    <h2 class="mb-3">Vous êtes une agence immobilières ?</h2>
                    <h3 class="mb-3">Votre première préoccupation est de trouver rapidement un acheteur ou un locataire ?</h3>
                </hgroup>
                <p><%= link_to "Découvrer SICO", agency_benefits_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>
