<section class="container-fluid py-5 besoin_daide">
    <div class="container py-4">
        <div class="row ">
            <div class="col-lg-10 offset-lg-1 text-center text-white ">
                <h1 class="mb-3 font-weight-bold">Vous êtes un Profesionnel de l'immobilier ?</h1>
                <p class="lead mb-3">Oubliez les médias et faite connaîte vos services et vos offres à nos visiteurs</p>
                <%= link_to "Découvrez nos avantages", profesionnal_benefits_path, class: "btn btn-primary btn-lg" %>
            </div>
        </div>
    </div>
</section>
