<section class="container-fluid py-4 call_to_action_for_owner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2>Vous possédez un bien immobilier que souhaitez louer rapidement ?</h2>
                <p class="lead">Publiez gratuitement votre annonce sur <span class="font-weight-bold">SICO</span>.</p>
                <p><%= link_to "C'est partir !", new_property_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>

