<section class="py-5 cta_for_owner_or_agency_or_agent d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2>Vous êtes un agent immobilier ?</h2>
                <h3 class="mb-3">Toucher un maximun de locataire ou d'acheteur potentiel en promouvant vos offres sur <span class="font-weight-bold h3">SICO</span>.</h3>
                <p>
                    <%= link_to "S'inscire maintenant", new_user_registration_path, class: "btn btn-primary btn-lg" %>
                </p>
            </div>
        </div>
    </div>
</section>
