<section class="container-fluid py-5 call_to_action_for_owner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1>Vous êtes propriétaire ou un agent immobilier ?</h1>
                <p class="lead">Vous ne savez pas à qui louer votre bien et/ou vous souhaitez trouver rapidement un locataire ?</p>
                <p class="lead">N'attendez plus, utiliser <span class="font-weight-bold">SICO</span> et commencer par louer votre bien, c'est <span class="font-weight-bold">Gratuit</span>.</p>
                <p><%= link_to "Ajouter un bien", new_property_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>

