<section class="container-fluid py-5 call_to_action_for_agency">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1>Vous êtes une agence immobilière ?</h1>
                <p class="lead">Oubliez la presse et diffuser vos offres sur <span class="font-weight-bold">SICO</span>.</p>
                <p><%= link_to "Nos avantages", agency_benefits_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>
