<section class="container-fluid py-5 besoin_daide" id="call_to_action_for_agent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white ">
                <h1 class="mb-3">Votre première préoccupation est de trouver rapidement un acheteur ou un locataire ?</h1>
                <p class="lead mb-3">Oubliez les médias et utiliser <span class="font-weight-bold">SICO</span>.</p>
                <p><%= link_to "Nos avantages", agent_benefits_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>
