<section class="container-fluid py-5 call_to_action_for_owner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2>Vous possédez un bien ou vous vous occupez du bien d'un propriétaire et vous souhaitez le louer rapidement ?</h2>
                <p class="lead">Oubliez les pubs radio/télé et publiez gratuitement votre annonce sur <span class="font-weight-bold">SICO</span>.</p>
                <p><%= link_to "C'est partir !", new_property_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>

