<section class="container-fluid py-5 call_to_action_for_owner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h1>Vous êtes propriétaire d'un bien immobilier ?</h1>
                <p class="lead">Vous rechercher rapidement un acheteur ou un locataire pour votre bien sans faire appel à une agence ? Publiez gratuitement votre annonce sur <span class="font-weight-bold">SICO</span>.</p>
                <p><%= link_to "Publiez une annonce", new_property_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</section>
