<section class="container-fluid py-4 besoin_daide">
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center text-white ">
                <h2>Besoin d'aide ?</h2>
                <p class="lead mb-0"><%= link_to "Contactez-nous", accueil_path, class: "text-white" %></p>
            </div>
        </div>
    </div>
</section>