<section class="container-fluid py-5 besoin_daide">
    <div class="container py-4">
        <div class="row ">
            <div class="col-lg-10 offset-lg-1 text-center text-white ">
                <h1 class="mb-3 font-weight-bold">Vous êtes un Profesionnel de l'immobilier ?</h1>
                <p class="mb-3">Rejoignez les profesionnels déja inscrit et faite connaîte vous aussi vos services et vos offres</p>
                <%= link_to "Je rejoins maintenant", root_path, class: "btn btn-primary btn-lg" %>
            </div>
        </div>
    </div>
</section>
