<div class="card bg-white border-0">
    <div class="card-body">
        <h5 class="text-dark bold mb-3">Dashboard</h5>
        <ul class="list-unstyled">
            <li class="my-2">
                <%= link_to "Mon profile", edit_my_profiles_path, class: "text-secondary" %>
            </li>
            <li class="my-2">
                <%= link_to "Mes biens", my_properties_path, class: "text-secondary" %>
            </li>
            <li class="my-2">
                <%= link_to "Publiez une annonce", new_property_path, class: "text-secondary" %>
            </li>
        </ul>
    </div>
</div>