<% if flash[:notice] %>
<div class="alert alert-success alert-dismissible fade show mb-0 text-center rounded-0 py-4 aos-item" role="alert" data-aos="fade">
    <p class="h6 alert-heading mb-0"><%= notice %></p>
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% elsif flash[:alert] %>
<div class="alert alert-danger alert-dismissible fade show mb-0 text-center rounded-0 py-4" role="alert">
    <p class="h6 alert-heading mb-0"><%= alert %></p>
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% end %>
