<% if flash[:notice] %>
<div class="alert alert-success mb-0 rounded-0" role="alert">
    <p class="alert-heading text-center"><%= notice %></p>
</div>
<% elsif flash[:alert] %>
<div class="alert alert-danger mb-0 rounded-0" role="alert">
    <p class="alert-heading text-center"><%= alert %></p>
</div>
<% end %>
