<!-- Main jumbotron for a primary marketing message or call to action -->

<!-- Pour vidéo d'arrière plan : jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://www.youtube.com/watch?v=UrkXWG9WgC8" -->
<div class="jumbotron jumbotron-fluid d-flex align-items-center mb-0 jumbotron-welcomes">
    <div class="container">
        <h1 class="text-white text-center mb-4 font-weight-bold">Le moyen le plus simple de trouver un bien a louer</h1>
        <div class="row py-3 mx-1" style="border-radius: 5px;" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
            <div class="col-12">
                <%= render "shareds/property_search_form" %>
            </div>
        </div>
    </div>
</div>
