<section class="container-fluid mobile_app py-5 bg-info">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center mb-4 mb-md-0">
				<%= image_tag "", alt: "App Mobile Dototché", class: "w-100" %>
			</div>
			<div class="col-md-7 text-white text-center text-md-left">
				<small>Apps</small>
				<h3 class="font-weight-bold">Télécharger gratuitement l'apps <span style="color: #FFF02A;">Dototché</span>.</h3>
				<p class="lead">L'apps <span style="color: #FFF02A;">Dototché</span> est disponible sur :</p>
				<br>
				<p>
					<%= image_tag "" %>
					<%= image_tag "" %>
				</p>
			</div>
		</div>
	</div>
</section>
