<% content_for :add_property do %>
<li class="nav-item mx-1">
    <li class="nav-item mx-1">
        <%= link_to "Déposer une annonce", new_property_path, class: "nav-link btn btn-primary text-white" %>
    </li>
</li>
<% end %>

<% content_for :dropdown_menu do %>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <h6 class="dropdown-header">Bienvenue !</h6>
    <div class="dropdown-divider"></div>
    <%= link_to my_properties_path, class: "dropdown-item" do %>
    <i class="fa fa-list fa-lg" aria-hidden="true"></i>&nbsp; Mes annonces
    <% end %>
    <%# if user_signed_in? && current_user.role == "Agent immobilier" %>
    <%#= link_to "Mon agence", edit_agency_path(current_user.agency), class: "dropdown-item" %>
    <%# end %>
    <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>&nbsp; Mon compte
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>&nbsp;
    Déconnexion
    <% end %>
</div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top">
    <%= link_to home_page_path, class: "navbar-brand" do %>
    <span class="h3 text-uppercase font-weight-bold">SICO</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1 active">
                <%= link_to home_page_path, class: "nav-link" do %>
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;
                Accueil <span class="sr-only">(current)</span>
                <% end %>
            </li>
            <li class="nav-item mx-1">
                <%= link_to "Toutes les annonces", properties_path, class: "nav-link" %>
            </li>
            <li class="nav-item mx-1 sr-only">
                <%#= link_to "Tout les agents", home_page_path, class: "nav-link" %>
            </li>

            <% if user_signed_in? %>
            <li class="nav-item mx-1">
                <%= link_to my_properties_path, class: "nav-link" do %>
                    <i class="fa fa-list fa-lg" aria-hidden="true"></i>&nbsp;
                    Mes annonces
                <% end %>
            </li>
            <% end %>
        </ul>
        <ul class="navbar-nav ml-auto d-md-flex align-items-md-center">
            <% if user_signed_in? %>
            <% if current_user.profile_picture.attached? %>
            <%= yield :add_property %>
            <li class="nav-item dropdown mx-1">
                <%= link_to "", class: "nav-link dropdown-toggle d-flex align-items-center", id: "navbarDropdown", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" do %>
                <%= image_tag url_for(current_user.profile_picture), size: "30", class: "rounded-circle" %>
                <%= current_user.first_name.capitalize + " " + current_user.last_name.upcase if current_user.first_name.present? && current_user.last_name.present? %>
                <% end %>
                <%= yield :dropdown_menu %>
            </li>
            <% else %>
            <%= yield :add_property %>
            <li class="nav-item dropdown mx-1">
                <%= link_to "", class: "nav-link dropdown-toggle d-flex align-items-center", id: "navbarDropdown", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" do %>
                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;
                <%= current_user.first_name.capitalize + " " + current_user.last_name.upcase if current_user.first_name.present? && current_user.last_name.present? %>
                <% end %>
                <%= yield :dropdown_menu %>
            </li>
            <% end %>
            <% else %>
            <%= yield :add_property %>
            <li class="nav-item mx-1">
                <%= link_to "Connexion", new_user_session_path, class: "btn btn-secondary" %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>
