<section class="py-5 vp_for_agent_or_agency d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <h2>Vous êtes un(e) Pro de l'immobilier ?</h2>
                <h3 class="mb-3">Distinguer vous de vos concurrents en promouvant vos offres et services sur <span class="font-weight-bold h3">SICO</span> et atteingnez de nouveaux prospects ou clients.</h3>
                <p>
                    <%= link_to "Et si vous essayiez ?", new_property_path, class: "btn btn-primary btn-lg" %>
                </p>
            </div>
        </div>
    </div>
</section>
