<% if @property_photos.present? %>
<div class="slider property_photo_carousel" >
    <% @property_photos.each do |property_photo| %>
    <div>
        <%= image_tag(property_photo.photo.url, alt: 'Property photos', class: "") %>
    </div>
    <% end %>
</div>
<% else %>
<p class="text-center">ANNONCE SASNS PHOTOs</p>
<% end %>