<%= simple_form_for(@property) do |f| %>
<%= f.error_notification %>
<% if @property.errors.any? %>
<div class="alert alert-danger" role="alert">
    <p>
        <%= pluralize(@property.errors.count, "erreur", "erreurs") %> ont empêché l'enregistrement de cet annonce:
    </p>
    <ul>
        <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Description du bien</h4>
            </div>
            <div class="col-lg-6">
                <%= f.association :ad_type, prompt: "Sélectionner le type d'annonce", input_html: { class: "choix_type_dannonce" } %>
            </div>
            <div class="col-lg-6">
                <%= f.association :property_type, prompt: "Sélectionner le type de bien", input_html: { class: "choix_type_de_bien" } %>
            </div>
            <div class="col-12">
                <%= f.input :title %>
            </div>
            <div class="col-12">
                <%= f.input :description, input_html: { rows: 10 } %>
            </div>
            <div class="col-md-4">
                <%= f.association :room, prompt: "Sélectionner le nombre de pièces" %>
            </div>
            <div class="col-md-4">
                <%= f.input :area, input_html: { min: 1 } %>
            </div>
            <div class="col-md-4">
                <%= f.input :available, collection: Property::AVAILABLE, prompt: "Le bien est disponible maintenant ?" %>
            </div>
            <div class="col-md-4">
                <%= f.input :etage, collection: Property::ETAGE, prompt: "Le bien se trouve à quel étage ?" %>
            </div>
            <div class="col-md-4">
                <%= f.input :price, input_html: { min: 1 } %>
            </div>
            <div class="col-md-4">
                <%= f.input :deposit, input_html: { min: 1 } %>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Caractéristiques du bien</h4>
            </div>
            <div class="col-12">
                <%= f.input :feature, as: :check_boxes, collection: Property::FEATURE, wrapper: :vertical_collection_inline %>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Photos du bien</h4>
                <p class="card-text text-info mb-4">
                    <small>Une annonce avec photo est 7 fois plus consultée qu'une annonce sans photo. <br> Ajouter les photos des différents pièces et de bonne qualité afin d'attirer plus de locataires potentiels.</small>
                </p>
            </div>
            <div class="col-md-12">
                <% 4.times do |i| %>
                <%= f.input :images, as: :file, label: "Photo #{i + 1 }", input_html: { name: "property[images][]", class: "form-control-file"}, direct_upload: true, wrapper: :horizontal_file %>
                <%= image_tag url_for(@property.images["#{i}".to_i]), size: "200x150" if @property.images["#{i}".to_i].present? %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Localisation du bien</h4>
            </div>
            <div class="col-md-6">
                <%= f.association :city, as: :select, prompt: "Sélectionner une commune" %>
            </div>
            <div class="col-md-6">
                <%= f.input :address, label: "Adresse/Quartier" %>
            </div>
        </div>
    </div>
</div>

<% if user_signed_in? %>
<% if current_user.first_name.blank? && current_user.last_name.blank? && current_user.phone_number.blank? %>
<%= f.simple_fields_for :user do |user_info| %>
<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Information de contact</h4>
            </div>           
            <div class="col-md-6">
                <%= user_info.input :role, collection: User::ROLE, label: "Vous êtes un(e)", include_blank: false %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :first_name, label: "Prénom" %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :last_name, label: "Nom" %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :phone_number, as: :tel, label: "Numéro de téléphone" %>
            </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
<% end %>
<div class="form-row">
    <div class="col-12">
        <%= f.button :submit, @property.persisted? ? "Modifier l'annonce" : "Publiez l'annonce" , class: "btn btn-primary btn-lg" %>
    </div>
</div>
<% end %>
