<section class="container-fluid">
	<div class="container">
		<div class="row py-5">
			<div class="col-lg-6 offset-lg-3">
				<h1 class="text-center mb-3">Vous souhaitez ?</h1>
				<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
					<p>
						<%= link_to "Louer un bien immobilier", new_property_path(ad_type: "A louer"), class: "btn btn-outline-primary btn-lg" %>
					</p>
					<p>
						<%= link_to "Vendre un bien immobilier", new_property_path(ad_type: "A vendre"),  class: "btn btn-outline-primary btn-lg" %>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>