<% content_for :title, "Modification de mon annonce" %>
<% content_for :script_choix_type_dannonce do %>
<script>
$(document).on('turbolinks:load', function() {
// your code
var celle_qui_est_coche = $(".choix_type_dannonce:checked");
if (celle_qui_est_coche.val() === "À louer") {
    $(".property_property_type > div:nth-child(3)").show();
    $(".property_property_type > div:nth-child(4)").show();
    $(".property_property_type > div:nth-child(5)").show();
    $(".property_property_type > div:nth-child(6)").show();
    $("div.form-check:nth-child(7)").show();
    $("div.form-check:nth-child(8)").show();
    $("div.form-check:nth-child(9)").show();
    $("div.form-check:nth-child(10)").hide();
    $("div.form-check:nth-child(11)").hide();
} else if (celle_qui_est_coche.val() === "À vendre") {
    $(".property_property_type > div:nth-child(3)").hide();
    $(".property_property_type > div:nth-child(5)").hide();
    $(".property_property_type > div:nth-child(6)").hide();
    $("div.form-check:nth-child(8)").hide();
}
});
</script>
<% end %>

<section class="edit-property-page-banner d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Modification de mon annonce</h2>
            </div>
        </div>
    </div>
</section>


<section class="container py-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mb-3">
            <p>(*) Champs obligatoires</p>
            <%= render 'form', property: @property %>
        </div>
        <div class="col-lg-10 offset-lg-1 sr-only">
            <%= link_to 'Show', @property, class: "btn btn-secondary" %>
            <%= link_to 'Back', properties_path, class: "btn btn-secondary" %>
        </div>
    </div>
</section>
