<% content_for :page_title, "Resultat de recherche" %>
<% content_for :page_meta_description, "Accueil - SICO - Annonces immobilieres au Bénin" %>
<% content_for :page_meta_keywords, "Chambre a louer cotonou, Parcelle a vendre Benin, Appartement a louer cotonou, Boutique a louer cotonou" %>

<section class="d-flex align-items-center mb-0 p-0 barre-recherche-avance">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white">Affiner votre recherche</h2>
            </div>
            <div class="col-12 py-3 rounded" style="background-color: rgba(0, 0, 0, 0.3) !important;">
                <%= form_with url: properties_path, method: :get, local: true do |f| %>
                <div class="form-row">
                    <div class="col-md-3 px-0 mb-2">
                        <%= f.collection_select :property_type, PropertyType.all, :name, :name, { prompt: "Type de bien" }, { class: "rounded-0 form-control form-control-lg", required: true } %>
                    </div>
                    <div class="col-md-3 px-0 mb-2">
                        <%= f.collection_select :ad_type, AdType.all, :name, :name, { prompt: "Type d'annonce" }, { class: "rounded-0 form-control form-control-lg", required: true } %>
                    </div>
                    <div class="col-md-6 px-0 mb-2">
                        <%= f.text_field :city, placeholder: "Ou ? Ex: Fidjrossè, Abomey-Calavi", class: "rounded-0 form-control form-control-lg", required: true %>
                    </div>
                    <div class="col-md-3 px-0 mb-2">
                        <%= f.collection_select :room, Room.all, :name, :name, { prompt: "Nombres de pièce" }, { class: "rounded-0 form-control form-control-lg", required: true } %>
                    </div>
                    <div class="col-md-3 px-0 mb-2">
                        <%= f.number_field :price, placeholder: "Loyer ou prix maximum", class: "rounded-0 form-control form-control-lg", required: true %>
                    </div>
                    <div class="col-md-3 px-0 mb-2">
                        <%= f.number_field :area, placeholder: "Surface minimum", class: "rounded-0 form-control form-control-lg", required: true %>
                    </div>
                    <div class="col-md-3 px-0 mb-2">
                        <%= f.submit "Rechercher", class: "rounded-0 btn btn-primary btn-lg btn-block" %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card bg-white border-0">
                        <div class="card-body px-4">
                            <h5 class="mb-4 font-weight-bold">Type de bien</h5>
                            <ul class="list-unstyled">
                                <% PropertyType.all.each do |property_type| %>
                                <li class="my-3">
                                   <%= link_to properties_path(property_type: property_type.name), class: "text-dark d-flex justify-content-between" do %>
                                   <span><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp; <%= property_type.name %></span>
                                   <span>(<%= property_type.properties.count %>)</span>
                                   <% end %>
                               </li>
                               <% end %>
                           </ul>
                       </div>
                   </div>
               </div>

               <div class="col-12 mb-4">
                <div class="card bg-white border-0">
                    <div class="card-body px-4">
                        <h5 class="mb-4 font-weight-bold">Type d'annonce</h5>
                        <ul class="list-unstyled">
                            <% AdType.all.each do |ad_type| %>
                            <li class="my-3">
                                <%= link_to properties_path(ad_type: ad_type.name), class: "text-dark d-flex justify-content-between" do %>
                                <span><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp; <%= ad_type.name %></span>
                                <span>(<%= ad_type.properties.count %>)</span>
                                <% end %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-4 sr-only">
                <div class="card bg-white border-0">
                    <div class="card-body px-4">
                        <h5 class="mb-4 font-weight-bold">Biens par Commune</h5>
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <%= link_to "", class: "text-dark" do %>
                                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp; Cotonou
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if @properties.present? %>
    <section class="col-lg-8">
        <section class="row">
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p class="mb-0"><%= pluralize(@properties_numbers, "annonce trouvé", "annonces trouvés") %></p>
                </div>
            </div>

            <% @properties.each do |property| %>
            <div class="col-lg-12 mb-4">
                <div class="card result_search_list_design shadow-sm">
                    <div class="row">
                        <div class="col-lg-5 pr-lg-0 d-flex flex-column justify-content-center align-items-center">
                            <% if property.ad_type.name == "À vendre" %>
                            <h5 class="position-absolute" style="top: 10px; left: 20px;">
                                <span class="badge badge-secondary p-2" >À vendre</span>
                            </h5>
                            <% elsif property.ad_type.name == "À louer" %>
                            <h5 class="position-absolute" style="top: 10px; left: 20px;">
                                <span class="badge badge-secondary p-2">À louer</span>
                                <% end %>
                            </h5>

                            <% if user_signed_in? %>
                            <% if current_user.admin? and property.published %>
                            <span class="position-absolute badge badge-success p-2" style="top: 10px; right: 20px;">En ligne</span>
                            <% elsif current_user.admin? and !property.published %>
                            <span class="position-absolute badge badge-danger p-2" style="top: 10px; right: 20px;">Hors ligne</span>
                            <% end %>
                            <% end %>

                            <% if property.images.attached? %>
                            <%= image_tag url_for(property.images.first), class: "w-100", alt: "#{property.title}", height: "221px" %>
                            <% else %>
                            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                            <span>Annonce sans photo</span>
                            <% end %>
                        </div>
                        <div class="col-lg-7 pl-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-dark">
                                    <%= truncate(strip_tags(property.title.capitalize), length: 50) %>
                                </h5>
                                <address class="card-text text-secondary">
                                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp; <%= property.address.capitalize %>, <%= property.city.name%>
                                </address>
                                <% if property.ad_type.name == "À vendre" %>
                                <p class="text-primary h3">
                                    <%= number_to_currency(property.price, precision: 0) %>
                                </p>
                                <% elsif property.ad_type.name == "À louer" %>
                                <p class="text-primary h3">
                                    <%= number_to_currency(property.price, precision: 0) %>/mois
                                </p>
                                <% end %>
                            </div>
                            <div class="card-footer bg-white">
                                <p class="m-0 d-flex justify-content-between align-items-center">
                                    <small>Publié il y a <%= distance_of_time_in_words(property.created_at, Time.now, include_seconds: false) %></small>
                                    <%= link_to "Voir détails", property, class: "btn btn-primary" %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>

            <div class="col-12">
                <%#= will_paginate @properties, previous_label: "Précédent ", next_label: " Suivant", container: false %>
                <%= will_paginate @properties, renderer: BootstrapPagination::Rails %>

            </div>
        </section>
    </section>
    <% else %>
    <section class="col-lg-8">
        <p>Aucun résultat trouvé !</p>
    </section>
    <% end %>

</div>
</section>
