<% content_for :script_choix_type_dannonce do %>
<!-- <script>

    $(function() {

     $(".choix_type_dannonce").on("click", function(event) {

        if ($(this).val() == "À louer") {
            $(".choix_type_de_bien").hide();
        } else if ($(this).val() == "À vendre") {
            $(".choix_type_de_bien").show();
        }

    })

 });

</script> -->
<% end %>


<section class="add-property-page-banner d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Ajout d'un bien immobilier</h2>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mb-3">
            <p>(*) Champs obligatoires</p>
            <%= render 'form', property: @property %>
        </div>
        <div class="col-lg-10 offset-lg-1 sr-only">
            <%= link_to 'Back', properties_path, class: "btn btn-secondary" %>
        </div>
    </div>
</section>
