<% content_for :script_choix_type_dannonce do %>
<script>
$(document).on('turbolinks:load', function() {
// your code
$("#property_ad_type_id").on("change", function() {
    var property_ad_type_id = $('#property_ad_type_id option:selected').val();
    if (property_ad_type_id === "1") {
        $(".property_property_type > div:nth-child(3)").show();
        $(".property_property_type > div:nth-child(4)").show();
        $(".property_property_type > div:nth-child(5)").show();
        $(".property_property_type > div:nth-child(6)").show();
        $("div.form-check:nth-child(7)").show();
        $("div.form-check:nth-child(8)").show();
        $("div.form-check:nth-child(9)").show();
        $("div.form-check:nth-child(10)").hide();
        $("div.form-check:nth-child(11)").hide();
        $("div.col-md-4:nth-child(11)").show();
    } else if (property_ad_type_id === "2") {
        $(".property_property_type > div:nth-child(3)").hide();
        $(".property_property_type > div:nth-child(4)").show();
        $(".property_property_type > div:nth-child(5)").hide();
        $(".property_property_type > div:nth-child(6)").hide();
        $("div.form-check:nth-child(7)").show();
        $("div.form-check:nth-child(8)").hide();
        $("div.form-check:nth-child(9)").hide();
        $("div.form-check:nth-child(10)").show();
        $("div.form-check:nth-child(11)").show();
        $("div.col-md-4:nth-child(11)").hide();
    }
})
});
</script>
<% end %>

<section class="banner-add-property d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Ajout d'un bien immobilier</h2>
            </div>
        </div>
    </div>
</section>

<section class="py-5 container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mb-3">
            <p>(*) Champs obligatoires</p>
            <%= render 'form', property: @property %>
        </div>
        <div class="col-12 sr-only">
            <%= link_to 'Back', properties_path, class: "btn btn-secondary" %>
        </div>
    </div>
</section>
