<section class="container-fluid add-property-page-banner d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Ajout d'un bien immobilier</h1>
            </div>
        </div>
    </div>
</section>

<section class="container py-4">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <p class="text-danger">(*) Champs obligatoires</p>

            <%= render 'form', property: @property %>
        </div>
        <div class="col-lg-10 offset-lg-1 sr-only">
            <br>
            <%= link_to 'Back', properties_path, class: "btn btn-secondary" %>
        </div>
    </div>
</section>
