<% provide :page_title, "Ajouter mon bien immobilier" %>


<section class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2><i class="fa fa-plus-square mr-1" aria-hidden="true"></i> Ajouter mon bien immobilier</h2>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2>Information sur le bien immobilier</h2>
        <hr class="mb-5">

        <%= render 'form', property: @property %>

        <!-- <%= link_to 'Back', properties_path %> -->

      </div>
    </div>
  </div>
</section>



