<% content_for :page_title, @property.title.capitalize %>
<% content_for :page_meta_description, "SICO - Annonces immobilieres au Bénin" %>
<% content_for :page_meta_keywords, "Chambre a louer cotonou, Parcelle a vendre Benin, Appartement a louer cotonou, Boutique a louer cotonou" %>
<% content_for :head do %>
<meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<section class="mb-4 property-show-page-banner d-flex align-items-center">
    <div class="container">
        <riv class="row">
            <div class="col-lg-12">
                <h1 class="text-white text-center">Détails du bien</h1>
            </div>
        </riv>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <h2>
                        <%= truncate(strip_tags(@property.title.capitalize), length: 50) %></h2>
                        <p>
                            <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;
                            <%= @property.address.capitalize %>, <%= @property.city.name %>
                        </p>
                    </div>
                    <div class="col-lg-4 ">
                        <% if @property.ad_type.name == "À vendre" %>
                        <h3>
                            <span class="badge badge-secondary">À vendre</span>
                        </h3>
                        <p class="text-primary h2">
                            <%= number_to_currency(@property.price, precision: 0) %>
                        </p>
                        <% elsif @property.ad_type.name == "À louer" %>
                        <h3>
                            <span class="badge badge-secondary">À louer</span>
                        </h3>
                        <p class="text-primary h2">
                            <%= number_to_currency(@property.price, precision: 0) %>/mois
                        </p>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <p>
                    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>&nbsp; Publié il y a <%= distance_of_time_in_words(@property.created_at, Time.now, include_seconds: false) %>.
                </p>
            </div>

        </div>
    </section>

    <section class="container py-3">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title font-weight-bold mb-4">Photos <small class="text-muted">(<%= @property.images.count %>)</small></h4>
                                <% if @property.images.attached? %>
                                <div class="single-item">
                                    <% @property.images.each do |image| %>
                                    <div>
                                        <%= image_tag url_for(image), class: "w-100", height: "500px" %>
                                    </div>
                                    <% end %>
                                </div>
                                <% else %>
                                <p class="mb-0 d-flex flex-column justify-content-center align-items-center">
                                    <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                                    <span>Annonce sans photo</span>
                                </p>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title font-weight-bold mb-4">Description</h4>
                                <div class="row mb-3">
                                    <div class="col-6 col-lg-3 text-center mb-2">
                                        <p class="font-weight-bold text-dark h6">Surface</p>
                                        <p><%= @property.area %> m<sup>2</sup></p>
                                    </div>
                                    <div class="col-6 col-lg-3 text-center mb-2">
                                        <p class="font-weight-bold text-dark h6">Nombres de pièces</p>
                                        <p><%= @property.room.name %></p>
                                    </div>
                                    <div class="col-6 col-lg-3 text-center mb-2">
                                        <% if @property.ad_type.name == "À louer" %>
                                        <p class="font-weight-bold text-dark h6">Loyer mensuel</p>
                                        <p>
                                            <%= number_to_currency(@property.price, precision: 0) %>/mois
                                        </p>
                                        <% elsif @property.ad_type.name == "À vendre"%>
                                        <p class="font-weight-bold text-dark h6">Prix</p>
                                        <p>
                                            <%= number_to_currency(@property.price, precision: 0) %>
                                        </p>
                                        <% end %>
                                    </div>

                                    <% if @property.ad_type == "À louer" %>
                                    <div class="col-6 col-lg-3 text-center mb-2">
                                        <p class="font-weight-bold text-dark h6">Avance</p>
                                        <p><%= @property.deposit %> mois</p>
                                    </div>
                                    <% end %>

                                    <div class="col-6 col-lg-3 text-center mb-2">
                                        <p class="font-weight-bold text-dark h6">Disponible</p>
                                        <p class="text-dark">
                                            <%= @property.available ? "Oui" : "Non" %>
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-3 text-center mb-2">
                                        <p class="font-weight-bold text-dark h6">Etage</p>
                                        <p class="text-dark"><%= @property.etage %></p>
                                    </div>
                                </div>

                                <p><%= strip_tags(@property.description) %></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title font-weight-bold mb-4">Services</h4>
                                <ul class="list-unstyled list-inline">
                                    <% @property.feature.each do |feature| %>
                                    <li class="list-inline-item"><%= feature %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title font-weight-bold mb-4">Localisation</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="font-weight-bold">Commune : <span class="font-weight-normal"><%= @property.city.name %></span></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="font-weight-bold">Adresse/Quartier : <span class="font-weight-normal"><%= @property.address.capitalize %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title font-weight-bold mb-4">Plan</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title font-weight-bold mb-4">Vidéo</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <% if user_signed_in? && current_user.admin? %>
                    <% if @property.published? %>
                    <div class="col-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h5 class="card-title mb-4 font-weight-bold">Zone administrateur</h5>
                                <p class="h2"><span class="badge badge-success p-2 ">Annonce en ligne</span></p>
                                <p>Ajouté le : <%= @property.created_at %></p>
                                <p>Mise en ligne le : <%= @property.published_at %></p>
                                <p>Expire le : <%= @property.expire_at %></p>

                                <!-- Désactivation de l'annonce par un admin -->
                                <%= button_to "Mettre hors ligne", deactivate_property_path(@property.id), class: "btn btn-danger btn-lg" %>
                            </div>
                        </div>
                    </div>
                    <% else %>
                    <div class="col-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h5 class="card-title mb-4 font-weight-bold">Zone administrateur</h5>
                                <p class="h2"><span class="badge badge-danger p-2">Annonce hors ligne</span></p>
                                <p>Ajouté le : <%= @property.created_at %></p>
                                <p>Mise en ligne le : <%= @property.published_at %></p>
                                <p>Expire le : <%= @property.expire_at %></p>

                                <!-- Mise en ligne de l'annonce par un admin -->
                                <%= button_to "Mettre en ligne", publish_property_path(@property.id), class: "btn btn-success btn-lg" %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>

                    <div class="col-12 mb-4">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <% if @property.user.role == "Propriétaire" %>
                                <h4 class="mb-4">À propos du properiétaire</h4>
                                <% elsif @property.user.role == "Agent immobilier" %>
                                <h4 class="mb-4 font">À propos de l'agent</h4>
                                <% end %>
                                <div class="row">
                                    <% if @property.user.profile_picture.attached? %>
                                    <div class="col-lg-12 mb-3">
                                        <%= image_tag url_for(@property.user.profile_picture), class: "box-shadow w-100", height: "300px" if @property.user.profile_picture.attached? %>
                                    </div>
                                    <% else %>
                                    <div class="col-lg-12 mb-3">
                                        <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                                    </div>
                                    <% end %>
                                    <div class="col-lg-12">
                                        <p class="mb-3 h5">
                                            <%= @property.user.first_name.capitalize %> <%= @property.user.last_name.upcase %>
                                        </p>

                                        <address>
                                            <ul class="list-unstyled">
                                                <li class="my-2">
                                                    <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp; <%= @property.user.phone_number %>
                                                </li>
                                                <li class="my-2">
                                                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp; <%= mail_to @property.user.email, @property.user.email, class: "text-dark" %>
                                                </li>
                                            </ul>
                                        </address>
                                        <p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Envoyer un message</button>
                                        </p>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Envoyer un message à <%= @property.user.first_name.capitalize %> <%= @property.user.last_name.upcase %></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <%= simple_form_for @message do |msg| %>
                                                        <div class="container">
                                                            <div class="form-row">
                                                                <div class="col-12">
                                                                    <%= msg.input :user_id, as: :hidden, value: @property.user.id %>
                                                                </div>
                                                                <div class="col-12">
                                                                    <%= msg.input :name %>
                                                                </div>
                                                                <div class="col-12">
                                                                    <%= msg.input :email, as: :email %>
                                                                </div>
                                                                <div class="col-12">
                                                                    <%= msg.input :phone, as: :tel %>
                                                                </div>
                                                                <div class="col-12">
                                                                    <%= msg.input :message, input_html: { rows: 5 } %>
                                                                </div>
                                                                <div class="col-12">
                                                                    <%= msg.submit "Envoyer", class: "btn btn-primary btn-block btn-lg" %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% end %>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button type="button" class="btn btn-primary sr-only">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-4 sr-only">
                        <div class="card border-0 bg-white">
                            <div class="card-body p-4">
                                <h4 class="card-title">Envoyer un message</h4>
                                <%= simple_form_for @message do |msg| %>
                                <div class="form-row">
                                    <div class="col-12">
                                        <%= msg.input :user_id, as: :hidden, value: @property.user.id %>
                                    </div>
                                    <div class="col-12">
                                        <%= msg.input :name %>
                                    </div>
                                    <div class="col-12">
                                        <%= msg.input :email, as: :email %>
                                    </div>
                                    <div class="col-12">
                                        <%= msg.input :phone, as: :tel %>
                                    </div>
                                    <div class="col-12">
                                        <%= msg.input :message, input_html: {rows: 5} %>
                                    </div>
                                    <div class="col-12">
                                        <%= msg.submit "Envoyer", class: "btn btn-primary btn-block" %>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <p><%= link_to 'Retour au resultat', request.referer, class: "btn btn-primary" %></p>
</div>
</div>
</section>
