<% if notice %>
<div class="notification is-success" style="margin-bottom: 0px;">
	<!-- <button class="delete"></button> -->
	<p class="has-text-centered"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>&nbsp; <%= notice %></p>
</div>
<% elsif alert %>
<div class="notification is-danger" style="margin-bottom: 0px;">
	<!-- <button class="delete"></button> -->
	<p class="has-text-centered"><i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>&nbsp; <%= alert %></p>
</div>
<% end %>
