<% content_for :page_title, "A propos de nous" %>

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Page en construction</h3>
                <p><%= image_tag "ajax-loader.gif" %></p>
                <p>Restez connecté avec nous. Inscrivez-vous à la newsletter pour recevoir des annonces et informations fraîches.</p>
            </div>
        </div>
    </div>
</section>