<% content_for :page_title, "A propos de nous" %>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-4 is-offset-4">
				<div class="box has-text-centered content">
					<h3>Page en construction</h3>
					<p><%= image_tag "ajax-loader.gif" %></p>
					<p>Restez connecté avec nous. Inscrivez-vous à la newsletter pour recevoir des annonces et informations fraîches.</p>
				</div>
			</div>
		</div>
	</div>
</section>