<% content_for :page_title, "Agent - Découvrez nos avantages." %>

<section class="container-fluid py-5 agent-benefits-page-banner d-flex flex-column justify-content-center">
    <div class="container">
        <riv class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-white">Agent immobilier, prêt à promouvoir vos bien avec <span class="font-weight-bold">SICO</span> ?</h1>
                <p class="text-white lead">Publiez vos annonces immobilières sur <span class="font-weight-bold h4">Sico</span> et profiter de la puissance du 1<sup>er</sup> site d'annonce immobilier au <span class="h3 font-weight-bold">Bénin</span></p>
            </div>
        </riv>
    </div>
</section>

<section class="container-fluid py-4">
    <section class="container">
        <section clsass="row">
            <div class="col-lg-12 mb-5">
                <div class="row">
                    <div class="col-lg-8 d-flex flex-column justify-content-center text-center text-md-left mb-3">
                        <p class="h3"><span class="text-primary">1 locataire sur 3</span> utilise internet pour trouver un bien immobilier.</p>
                        <p>Une majorité écrassante (87%) des locataires utilise internet comme source d'information pendant leur processus de location de maison, appartement ou de chambre. A partir du moment ou vous avez un bien a louer ou a vendre, il est primordial de le faire savoir autour de vous et massivement ! C'est pour cela que <span class="font-weight-bold">SICO</span> propose une visibilité web. Grâce à cette visibilité nous pouvons vous garantir que les acheteurs ou locataires qui recherchent un bien similaire au vôtre tomberont sur votre annonce.</p>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <%= image_tag "265660-management/svg/chatting.svg", class: "w-100"  %>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center mb-3">
                        <%= image_tag "174239-communication/svg/megaphone.svg", class: "w-100"  %>
                    </div>
                    <div class="col-lg-8 d-flex flex-column justify-content-center text-center text-md-left">
                        <p class="h3"><span class="text-primary">60% des agents immobilier</span> diffusent déja leurs biens sur <span class="font-weight-bold">SICO</span></p>
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="row">
                    <div class="col-lg-8 d-flex flex-column justify-content-center text-center text-md-left mb-3">
                        <p class="h3"><span class="text-primary">Développer la présence en ligne</span> de votre agence et méliorer votre réputation.</p>
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <%= image_tag "174239-communication/svg/internet.svg", class: "w-100"  %>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<%= render "pricing_plan"  %>
