<% content_for :page_title, "Contactez nous" %>

<section class="py-5 contact-page-banner d-flex flex-column justify-content-center">
    <div class="w-75 m-auto">
        <riv class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Contact</h1>
            </div>
        </riv>
    </div>
</section>

<section class="py-5 w-75 m-auto">
    <div class="row">
        <div class="col-lg-5">
            <h3 class="font-weight-bold mb-5">Contactez-nous</h3>
            <address >
                <div class="mb-4">
                    <h4>Adresse</h4>
                    <p>Cococodji, Bénin</p>
                </div>
                <div class="mb-4">
                    <h4>Téléphone</h4>
                    <p>96 61 90 73</p>
                </div>
                <div class="mb-4">
                    <h4>Email</h4>
                    <p>
                        <%= mail_to "francel.webdev@gmail.com", "francel.webdev@gmail.com", subject: "Demande d'information", class: "sans-text-decoration text-dark" %>
                    </p>
                </div>
            </address>
        </div>
        <div class="col-lg-7">
            <div id="mapid" class="w-100 h-100"></div>                
            <div class="card sr-only">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h3>Chargement de la carte.</h3>
                    <p><%= image_tag "ajax-loader.gif" %></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-5">
    <div class="w-75 m-auto">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="font-weight-bold mb-5">Ecrivez-nous</h4>
                <p>Vous avez une question, une demande ou un problème? Ecrivez-nous.</p>
                <%= simple_form_for @contact do |f| %>
                <div class="form-row">
                    <div class="col-lg-6">
                        <%= f.input :first_name, required: true, label: "Prénom" %>
                    </div>
                    <div class="col-lg-6">
                        <%= f.input :last_name, required: true, label: "Nom" %>
                    </div>
                    <div class="col-lg-6">
                        <%= f.input :email, as: :email, required: true, label: "Adresse email" %>
                    </div>
                    <div class="col-lg-6">
                        <%= f.input :phone_number, as: :tel, required: true, label: "Numeros de téléphone" %>
                    </div>
                    <div class="col-lg-12">
                        <%= f.input :message, required: true, label: "Message", input_html: { rows: 5 } %>
                    </div>
                    <div class="col-lg-12">
                        <%= f.submit "Envoyer", class: "btn btn-primary btn-lg" %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
