<% content_for :page_title, "Accueil" %>

<%= render "shareds/jumbotron" %>

<section class="py-5 sr-only">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h3>Annonces en vedette</h3>
            </div>
            <div class="col-12">
                <div class="row annonce_nouvellement_publié">
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-white" id="comment-ca-marche">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Comment ça marche</h2>
            </div>
            <div class="col-lg-4 text-center mb-4">
                <p class="mb-3"><%= image_tag "179347-control/svg/number-1.svg", class: "w-25"  %></p>
                <!-- <p><span class="display-3 rounded-circle px-4 py-2" style="box-shadow: 0 2px 11px 0 rgba(0,0,0,.29);">1</span></p> -->
                <h4 class="text-dark mb-3">Faîtes une recherche</h4>
                <p class="text-dark">Plus 2000 annonces dans différents communes et quartiers du Bénin</p>
            </div>
            <div class="col-lg-4 text-center mb-4">
                <p class="mb-3"><%= image_tag "179347-control/svg/number-2.svg", class: "w-25"  %></p>
                <h4 class="text-dark mb-3">Faîtes un choix</h4>
                <p class="text-dark">Choisissez le bien qui correcpond à vos besoins parmis les résultats de recherche.</p>
            </div>
            <div class="col-lg-4 text-center mb-4">
                <p class="mb-3"><%= image_tag "179347-control/svg/number-3.svg", class: "w-25"  %></p>
                <h4 class="text-dark mb-3">Louer-le et prenez les clefs</h4>
                <p class="text-dark">Contactez le propriétaire pour visiter le bien puis régler l'avance et prenez les clefs.</p>
            </div>
        </div>
    </div>
</section>

<section class="sr-only">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center mb-4">
                <h2>Villes les plus consultés</h2>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="" title="">


                </a>
            </div>
            <div class="col-lg-8">
                <a href="" title="">

                </a>
            </div>
        </div>
    </div>
</section>

<section class="sr-only bg-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center mb-4">
                <h2>Quelques agences immobiliers</h2>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="" title="">


                </a>
            </div>
            <div class="col-lg-8">
                <a href="" title="">

                </a>
            </div>
        </div>
    </div>
</section>
