<% provide :page_title, "Accueil" %>

<%= render "shareds/jumbotron" %>

<section class="container-fluid py-5 sr-only">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h3>Les biens en vedettes</h3>
            </div>
            <div class="col-12">
                <div class="row annonce_nouvellement_publié">
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5 bg-white" id="comment-ca-marche">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Comment ça marche</h2>
            </div>
            <div class="col-lg-4 text-center mb-4">
                <p class="mb-3"><%= image_tag "511120-characters-and-numbers/svg/009-one.svg", class: "img-fluid w-25"  %></p>
                <!-- <p><span class="display-3 rounded-circle px-4 py-2" style="box-shadow: 0 2px 11px 0 rgba(0,0,0,.29);">1</span></p> -->
                <p class="h6 font-weight-bold text-secondary mb-3">Faîtes une recherche</p>
                <p class="text-secondary small">Plus 2000 annonces dans différents villes du Bénin</p>
            </div>
            <div class="col-lg-4 text-center mb-4">
                <p class="mb-3"><%= image_tag "511120-characters-and-numbers/svg/008-two.svg", class: "img-fluid w-25"  %></p>
                <p class="h6 font-weight-bold text-secondary mb-3">Choissisez celui qui vous correcpond</p>
                <p class="small text-secondary">Choisissez celle qui vous correcpond parmis les résultats de recherche.</p>
            </div>
            <div class="col-lg-4 text-center mb-4">
                <p class="mb-3"><%= image_tag "511120-characters-and-numbers/svg/007-three.svg", class: "img-fluid w-25"  %></p>
                <p class="h6 font-weight-bold text-secondary mb-3">Prenez les clefs</p>
                <p class="small text-secondary">Contactez le propriétaire ou l'agent pour visiter le bien puis régler l'avance et prenez les clefs.</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sr-only">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center mb-4">
                <h2>Villes les plus consultés</h2>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="" title="">


                </a>
            </div>
            <div class="col-lg-8">
                <a href="" title="">

                </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sr-only bg-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center mb-4">
                <h2>Quelques agences immobiliers</h2>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="" title="">


                </a>
            </div>
            <div class="col-lg-8">
                <a href="" title="">

                </a>
            </div>
        </div>
    </div>
</section>