<% content_for :page_title, "Annonces immobiliers au Bénin" %>
<% content_for :page_meta_description, "" %>
<% content_for :page_meta_keywords, "" %>
<% content_for :Morphext do %>
<script>
$(function() {
$("#js-rotating").Morphext({
    animation: "bounceIn", // Overrides default "bounceIn"
    speed: 3000, // Overrides default 2000
    complete: function () {
        // Overrides default empty function
    }
});
});
</script>
<% end %>

<div class="jumbotron jumbotron-fluid d-flex align-items-center mb-0 jumbotron-accueil py-5">
    <div class="container">
        <h1 class="text-white text-center mb-3">Trouver <span id="js-rotating" class="font-weight-bold">la chambre, la maison, le villa, l'appartement, le bureau, la boutique, le magasin, le parcelle, le terrain</span> de vos rêves sans aucune difficulté.</h1>
        <div class="py-3 px-3 rounded" style="background-color: rgba(0, 0, 0, 0.3)">
            <%= form_with url: properties_path, method: :get, local: true do |f| %>
            <div class="form-row">
                <div class="col-md-3 px-0 mb-2">
                    <%= f.collection_select :property_type, PropertyType.all, :name, :name, { prompt: "Type de bien" }, { class: "rounded-0 form-control form-control-lg", required: true } %>
                </div>
                <div class="col-md-3 px-0 mb-2">
                    <%= f.collection_select :ad_type, AdType.all, :name, :name, { prompt: "Type d'annonce" }, { class: "rounded-0 form-control form-control-lg", required: true } %>
                </div>
                <div class="col-md-4 px-0 mb-2">
                    <%= f.text_field :city, placeholder: "Ou ? Ex: Fidjrossè, Abomey-Calavi", class: "rounded-0 form-control form-control-lg", required: true %>
                </div>
                <div class="col-md-2 px-0 mb-2">
                    <%= f.submit "Rechercher", class: "rounded-0 btn btn-primary btn-lg btn-block" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>


<section class="py-5 sr-only">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h3>Annonces en vedette</h3>
            </div>
            <div class="col-12">
                <div class="row annonce_nouvellement_publié">
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-2">
                <h2>Comment ça marche ?</h2>
            </div>
            <div class="col-lg-4 text-center mb-4 d-flex flex-column justify-content-between">
                <i class="fa fa-search fa-5x text-primary" aria-hidden="true"></i>
                <p>Faîte une recherche et choisissez un bien parmis les résultats de recherche.</p>
            </div>
            <div class="col-lg-4 text-center mb-4 d-flex flex-column justify-content-between">
                <i class="fa fa-mobile fa-5x text-primary" aria-hidden="true"></i>
                <p>Contacter le propriétaire du bien pour convenir d'un RDV pour la visite.</p>
            </div>
            <div class="col-lg-4 text-center mb-4 d-flex flex-column justify-content-between">
                <i class="fa fa-thumbs-o-up fa-4x text-primary" aria-hidden="true"></i>
                <p>Visiter le bien puis régler l'avance et prenez les clefs si le bien correspond à vos besoins.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 sr-only">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h2>Communes/Quartiers les plus consultés</h2>
            </div>
            <div class="col-lg-8 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-0">Cotonou</h2>
                        <p class="lead">N* de biens</p>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="col-lg-4 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-0">Cotonou</h2>
                        <p class="lead">N* de biens</p>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="col-lg-4 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-0">Cotonou</h2>
                        <p class="lead">N* de biens</p>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="col-lg-8 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-0">Cotonou</h2>
                        <p class="lead">N* de biens</p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-white sr-only">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-4">
                <h2>Quelques agences immobiliers</h2>
            </div>
        </div>
    </div>
</section>
