
<!-- #dee2e6
jusqu'à ce que vos biens soit loués ou vendus
-->

<section class="container-fluid py-5 bg-white">
	<section class="container">
		<div class="row">
			<div class="col-12 text-center mb-3">
				<h2>Nos tarifs</h2>
				<p class="lead"><span class="font-weight-bold h4">SICO</span> vous offre 3 différents tarifs pour répondre à vos besoins.</p>
			</div>
		</div>
        <section class="row d-flex align-items-center">
            <div class="col-lg-4 mb-4">
                <div class="card pricing_plan shadow-sm">
                    <div class="card-header text-center">
                        <h3 class="my-0">Basic</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            Gratuit
                        </h1>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="my-2">Annonces illimités.</li>
                            <li class="my-2">Durée d'affichage: 1 semaine.</li>
                            <li class="my-2">3 photos maximum/annonce.</li>
                        </ul>
                        <p>
                            <%= link_to "Choisir ce plan", new_property_path(pricing_plan_choosing: "basic"), class: "btn btn-outline-primary btn-lg" %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card pricing_plan shadow-sm">
                    <div class="card-header text-center">
                        <h3 class="my-0">Agence</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            <%= number_with_delimiter(sprintf("%0.00f", 75000)) %><sup>f</sup><small class="text-muted">/mois</small>
                        </h1>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="my-2">Annonces illimités.</li>
                            <li class="my-2">Durée d'affichage: illimité.</li>
                            <li class="my-2">12 photos maximum/annonce plus 1 vidéo.</li>
                            <li class="my-2">Téléchargements des modèles de contrats.</li>
                            <li class="my-2">Page vitrine pour présenter votre agence.</li>
                            <li>Assistance 24/7.</li>
                            <li class="my-2">Assistance juridique mis à votre disposition.</li>
                        </ul>
                        <p>
                            <%= link_to "Contactez-nous", contact_us_path, class: "btn btn-outline-primary btn-lg"  %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-primary pricing_plan shadow-sm">
                    <div class="card-header bg-primary text-center">
                        <h3 class="my-0 text-white">Profesionnel</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title">
                            <%= number_with_delimiter(sprintf("%0.00f", 39500)) %><sup>f</sup><small class="text-muted">/mois</small>
                        </h1>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="my-2">Annonces illimités.</li>
                            <li class="my-2">Durée d'affichage: 1 mois.</li>
                            <li class="my-2">6 photos maximum/annonce.</li>
                            <li class="my-2">Téléchargements des modèles de contrats.</li>
                            <li class="my-2">Assistance 24/7.</li>
                        </ul>
                        <p>
                            <%= link_to "Contactez-nous", contact_us_path, class: "btn btn-primary btn-lg"  %>
                        </p>
                    </div>
                </div>
            </div>

        </section>
	</section>
</section>
