<% content_for :page_title, "Connexion utilisateur" %>

<section class="container py-5">
	<div class="row">
		<div class="col-lg-6 offset-lg-3 text-center mb-4">
			<h2><%= t(".sign_in") %></h2>
		</div>
		<div class="col-lg-6 offset-lg-3">
			<div class="card border-0 mon-box-shadow">
				<div class="card-body px-5">
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-inputs">
						<%= f.input :email, required: false, autofocus: true %>
						<%= f.input :password, required: false %>
						<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
					</div>
					<div class="form-actions">
						<%= f.button :submit, t(".sign_in"), class: "btn btn-primary btn-lg btn-block" %>
					</div>
					<% end %>
					<div class="text-center mt-4">
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
