/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self

*= require blink
*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Pour font-awesome
@import "font-awesome-sprockets";
@import "font-awesome";


// Pour slick (Super cool)
@import 'slick';
@import 'slick-theme';

.slick-prev::before, .slick-next::before {
  color: #000;
}

// J'ai commenté ça moi même
.slick-next {
  // right: -5px;
}

.slick-prev {
  // left: -5px;
}
// J'ai commenté ça moi même
// Pour slick (Super cool)



// Pour utiliser les style d'erreurs de formulaire de bootstrap 4 avec simple_form

// Fix for validations on simple form

// Need to import bootstrap functions and mixins if you want to dynamically set colors
// Otherwise replace theme-color... with hex color
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

.has-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: theme-color('danger');
  }

  .form-control {
    background: theme-color-level('danger', -10);
    border-color: theme-color('danger');
  }
}