// Mon style global

// Mes variable SASS
$mon_box_shadow_au_survol: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;


main {
    background-color: #F2F6FF;
}

.jumbotron-accueil {
    height: 100vh !important;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("pexels-photo-277667.jpeg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.card-photo-property {
    transition: 0.5s, ease;
}


.index-list-item:hover {
    text-decoration: none;
    transition: 0.5s, ease;
    .list-item {
        border-right: 8px solid #007BFF;
        transition: 0.5s, ease;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.barre-recherche-avance {
    height: 75vh !important;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("pexels-photo-259950.jpeg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.banner-contact {
    height: 50vh;
}

.sans-text-decoration:hover {
    text-decoration: none;
}

ul > li > a {
    text-decoration: none !important;
}

// List design
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
// List design


.contact-page-banner, .add-property-page-banner, .edit-property-page-banner, .my_property-page-banner, .property-show-page-banner {
    height: 30vh !important;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("philipp-berndt-173197.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.agent-benefits-page-banner {
    height: 75vh !important;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("85.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.vp_for_agent_or_agency {
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("85.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50vh;
}

// Autre
// background: linear-gradient(transparent 57%, rgba(0,0,0,1) 100%);

.pricing_plan {
    transition: 0.3s;
}
.pricing_plan:hover {
    box-shadow: $mon_box_shadow_au_survol;
    // transition: all 0.3s ease-in-out;
    transition: 0.3s;
}

.result_search_list_design {
    transition: 0.3s;
}
.result_search_list_design:hover {
    box-shadow: $mon_box_shadow_au_survol;
    // transition: all 0.3s ease-in-out;
    transition: 0.3s;
}

.design-connexion-avec-fb {
    background-color: rgb(66, 103, 178) !important;
    border-radius: 3px;
}

.agency-list-banner {
    height: 80vh !important;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("85.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
