// Mon style global

// Mes variable SASS
$mon_box_shadow_au_survol: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;


main {
    background-color: #F2F6FF;
}

section.banner-accueil {
    height: 75vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), asset-url("vendre_son_bien_s.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.resultat-de-recherche, section.recherche-avance {
    height: 75vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), asset-url("clefs.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.card-photo-property {
    transition: 0.5s, ease;
}

section.nos-tarifs {
    height: 40vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("plan_image.png") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.index-list-item:hover {
    text-decoration: none;
    transition: 0.5s, ease;
    .list-item {
        border-right: 8px solid #007BFF;
        transition: 0.5s, ease;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.sans-text-decoration:hover {
    text-decoration: none;
}

ul > li > a {
    text-decoration: none !important;
}

// List design
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
// List design

section.banner-contact-us, section.banner-my-properties, section.banner-add-property, section.banner-edit-property, section.banner-show-property {
    height: 40vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), asset-url("philipp-berndt-173197.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.agent-benefits-page-banner {
    height: 200px;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("85.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section.vp_for_owner_or_agency {
    height: 50vh;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("85.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

// Autre
// background: linear-gradient(transparent 57%, rgba(0,0,0,1) 100%);

.pricing_plan {
    transition: 0.3s;
}
.pricing_plan:hover {
    box-shadow: $mon_box_shadow_au_survol;
    // transition: all 0.3s ease-in-out;
    transition: 0.3s;
}

.result_search_list_design {
    transition: 0.3s;
}
.result_search_list_design:hover {
    box-shadow: $mon_box_shadow_au_survol;
    // transition: all 0.3s ease-in-out;
    transition: 0.3s;
}

.design-connexion-avec-fb {
    background-color: rgb(66, 103, 178) !important;
    border-radius: 3px;
}

.agency-list-banner {
    height: 80% !important;
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), asset-url("85.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}