// Mon style global

body {
  * {
    font-family: 'Open Sans', sans-serif;
  }
  main {
    background-color: #F2F6FF;
  }
  section.besoin_daide {
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) , rgba(0,0,0,0.3) ), asset-url("philipp-berndt-173197.jpg") !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
      background-repeat: no-repeat;
    
  }
}

.jumbotron-welcomes {
  height: 100vh !important;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), asset-url("85.jpg") !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
      background-repeat: no-repeat;
  
}

// .au-survole {
  //     transition: all 0.5s ease-out;
  // }
  // .au-survole-ccm:hover {
    //     // box-shadow: 0 16px 20px 0 rgba(216, 216, 216, .75);
    //     box-shadow: rgba(121,121,121,.35) 1px 10px 20px;
    // }
    

    .liste-card-rech4rche {
      transition: all 0.3s ease-in;
    }

    .liste-card-recherche:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,.1);
      transition: all 0.3s ease-in;
    }

    .card-photo-property {

    }


    // font-family: 'Roboto', sans-serif;
    // font-family: 'Open Sans', sans-serif;

    .sans-text-decoration:hover {
      text-decoration: none;
    }

    .barre-recherche-avance {
      height: 75vh !important;
      background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), asset-url("pexels-photo-323780.jpeg") !important;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      
    }

    section.banner-contact {
      height: 50vh;
    }

    input, .btn, button, textarea, select, a.btn {
      border-radius: 0px !important;
    }

    ul > li > a {
      text-decoration: none !important;
    }
    .slide-photo {
      height: 80vh !important;
      .slide-quelque-detail {
          bottom: 25px;
      }
    }


.footer-facebook-logo {
  color: #4D6FA9;
}
.footer-twitter-logo {
  color: #65BBF2;
}


nav div.container-fluid div.collapse ul li div.dropdown-menu::after {
    content: "";
position: absolute;
top: 100%;
left: 40px;
border-top: 15px solid black;
    border-top-color: black;
border-top-color: #fff;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
}