<h1>Contacts#contact_us</h1>

<p>
  <%= @greeting %>, find me in app/views/contacts_mailer/contact_us.html.erb
</p>

====================================


<p><%= @contact_infos.message %></p>

 <p>
    <%= link_to "Aller sur le site", home_page_url %>
 </p>